section.about-me
  overflow hidden
  width 100vw
  height 100vh

h2.welcome
  display flex
  justify-content center
  align-items center
  width 50vmin
  height 50vmin
  border-radius 50%
  background rgba(0,0,0,.6)
  box-shadow 0px 0px 50px inset var(--color-mainbg)
  text-align center
  margin 0px auto
  font-size 6vmin 
  color var(--color-blue-light) 
  filter drop-shadow( 0px 0px 5px var(--color-blue-light)) 
  &:before
    display none

.welcome-block
  width 50vmin
  height 50vmin
  border-radius 50%
  background rgba(0,0,0,.7)
  box-shadow 0px 0px 50px inset var(--color-mainbg)
  text-align center
  margin 0px auto
  display flex
  flex-direction column
  justify-content center
  & h3
    width 50%
    margin 10px auto
    padding 5px
    border 2px solid var(--color-active)
    transition .3s
    &:hover
      box-shadow 0 0 10px var(--color-active)
  & h2
    &:before
      display none


div.main-planet
  width 80vmin
  height 80vmin
  background url("/img/svg/MainPlanet.svg") center/contain no-repeat
  transform: translate(-45.5%, -47.5%);

.ufo
  width 25vmin
  height 25vmin
  position absolute
  top 5vh
  left 5vw
  background url("/img/svg/UFO.svg") center/contain no-repeat
  transform rotate(-25deg)

.meteor
  width 25vmin
  height 25vmin
  position absolute
  top 3vh
  right 3vw
  background url("/img/article-photo/meteor.svg") center/contain no-repeat

.meteor__not-found-page
  top 50%
  right 50%
  width 50vmin
  height 50vmin
  transform translate(50%, -50%)

.another-planet
  width 50vmin
  height 50vmin
  position absolute
  bottom 0vh
  left -6vw
  background url("/img/svg/LeftBottomPlanet.svg") center/contain no-repeat

.hole
  width 23vmin
  height 23vmin
  position absolute
  bottom 6vh
  right 1vw
  transform rotate(25deg)
  filter drop-shadow(0 0 1vmin #ff1c76)
  background url("/img/svg/hole.svg") center/contain no-repeat

.fire
  width 60vmin
  height 60vmin
  margin 20px auto
  background url('/img/svg/fire.svg') no-repeat center/contain
