@media screen and (max-aspect-ratio: 16/8)
  :root
    --size-article-block 35vmin
    --amount-article-blocks 4

@media screen and (max-aspect-ratio: 16/10)
  :root
    --size-article-block 40vmin
    --amount-article-blocks 3

@media screen and (max-aspect-ratio: 16/12)
  :root
    --size-article-block: 45vmin
    --amount-article-blocks 2

@media screen and (max-aspect-ratio: 16/17)
  :root
    --size-article-block: 90vmin
    --amount-article-blocks 1
