#nav
  position relative
  z-index 2
  display flex
  flex-wrap wrap
  align-items center
  & > *
    padding 5px 10px 
    order 2
    &.router-link-exact-active.router-link-active,
    &.nuxt-link-exact-active.nuxt-link-active
      order 1
      flex 1
      font-size 4vmin
      text-transform uppercase
      padding-left 0
      filter drop-shadow(0 0 3px var(--color-active))

.theme-choice
  width 100%
  display flex
  flex-wrap wrap
  & .theme-choice_icon
    cursor pointer
    position relative
    border-radius 1vmin
    display flex
    align-items center
    background rgba(0,0,0,.3)
    margin 0 1.5vmin 1.5vmin 0
    padding 1vmin
    transition .4s
    & .article-block-text_theme-icon
      margin-right 5px
